body {
  font-family: Arial, sans-serif;
  color: #000000;
  margin: 2rem;
  line-height: 1.5;
}

.dev2 {
  font-family: 'Play', sans-serif;
  color: #000000;
  border-left: 4px solid #ff6f00;
  padding: 1rem;
  margin-bottom: 1rem;
}

.dev3 {
  font-family: 'Tinos', serif;
  color: #000000;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px #ff69b4;
  margin-bottom: 1rem;
}

.dev4 {
  font-family: 'IBM Plex Mono', monospace;
  color: #000000;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px #ff69b4;
  margin-bottom: 1rem;
}

.dev5 {
  font-family: 'UnifrakturMaguntia', cursive;
  color: #000000;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px #ff69b4;
  margin-bottom: 1rem;
}

.dev6 {
  font-family: 'VT323', monospace;
  color: #000000;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px #ff69b4;
  margin-bottom: 1rem;
}

.dev7 {
  font-family: 'Comic Neue', cursive;
  color: #000000;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px #ff69b4;
  margin-bottom: 1rem;
}

.dev8 {
  font-family: 'Covered By Your Grace', cursive;
  color: #000000;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px #ff69b4;
  margin-bottom: 1rem;
}

.dev9 {
  font-family: 'Annie Use Your Telescope', cursive;
  color: #000000;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px #ff69b4;
  margin-bottom: 1rem;
}
