<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }} - Chili Not Included</title>
  <!-- Add Google Fonts here -->
  <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Covered+By+Your+Grace&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Play:wght@400;700&family=Redacted&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=UnifrakturMaguntia&family=VT323&display=swap" rel="stylesheet">
  <!-- Link your CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>
